body{
font-family: 'Roboto', sans-serif;
overflow-x: hidden;

}
*{
	margin: 0;
	padding: 0;
  box-sizing: border-box;
}
html {
    height: 100%;
    margin-bottom: 0.01em;

}
.container{
  width: 100%;
  height: 130px;

 flex-direction: row;
  justify-content: space-around;
  
  flex-flow: wrap;

  margin-top: 0;

}

.textinfo{
  width: auto;
  height: auto;
 
  margin-top: 10%;
  margin-left: 5%;
  margin-right: 5%;
    padding-top: 2%;
   padding-left: 2%;
   padding-right: 2%;
   padding-bottom: 5%;
}



.header1{
  width: 15%;
  height: 130px;
  background-color: lightgrey;
  float: left;
 text-align: center;



}
h1:hover{
  color: indianred;
}
.header2{
  width: 40%;
  height: 130px;
  background-color: lightgrey;
  float: left;
  text-align: center;
  vertical-align: middle;
  padding-top: 20px;
  }
.rubrik{
  color:#E80C94;
  width: auto;
  font-size: calc(1.8em + 1.8vw);
  padding-left: 1px;
  padding-right: 1%;
  padding-bottom: 5px;
}
.header3{
  width: 15%;
  height: 130px;
  background-color: lightgrey;
  float: left;
  text-align: center;
  
 
}
.header4{
  width: 30%;
  height: 130px;
  background-color: lightgrey;
  float: left;
  text-align: center;
  padding-left: 15px;
  padding-top: 14px;
}
/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
 
  width: 70px;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: lightgrey;
  color: #E80C94;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  width: auto;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;

}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.bildgalleri{
  width: auto;
  height: auto;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 8%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
  
}
.bildgalleri1{
  width: auto;
  height: auto;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
  color: white;
}
.bildgalleri2{
  text-align: center;
}

.box{
  width: 200px;
  height: 200px;
  background: yellow;
  margin: 10px;
}
.bild{
  width: 100%;
  height: 100%;
}
.loggor{
  width: auto;
  height: 80px;
  padding-top: 15px;
}
.loggor1{
  width: auto;
  height: 80px;
  padding-top: 15px;
  padding-right: 1px;
}

.quiz{
  width: auto;
  height: auto;
  margin-top: 25%; 
  margin-left: 5%;
  margin-right: 5%;
}

.fraga{
  margin-top: 3px;
} 
.fraga:hover{
  color: #E80C94;
}

 
}
.rubrik2{
text-align: center;
padding-top: 0.5%;
}
.rubrik2:hover{
  color: #E80C94;
}
.quizet{
  padding-left: 2%;
  padding-top: 1%;
  padding-bottom: 3%;
  display: flex;
}
#after_submit{
  visibility: hidden;
}
.btn-primary{
  background-color: green;
  width: 70px;
  height: 30px;
  border-radius: 10px;
  margin-bottom: 5px;
}


.leftside{
  height: auto;
  width: auto;
 
 padding-right: 2px;
   margin-left: 7%;
  margin-right: 5%;
  margin-top: 20%;
   display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;

}
.utvärdering2{
  height: auto;
  width: auto;
 

}
.rightside{
  height: auto;
  width: auto;
 padding-right: 5px;
  
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10%;
 

}
.utvärdering1{
  
  padding-left: 10%;
  padding-right: 90%;
  padding-bottom: 1%;
}
.comments{
  width: auto;
  background-color: pink;
  padding-right: 0px;
  height: auto;
  padding-left: 5%;

}
.comments1{
  width: auto;
  background-color: lightgrey;
  padding-right: 0px;
  height: auto;
  padding-left: 5%;

}
.klass{
  margin-left: 40%;
  margin-right: 10%;
  margin-top: 5%;
  width: 90px;
  height: 40px;


}
.link{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 4px;
  padding-right: 4px;
  background-color: red;
  border-radius: 10px;
  color: white;
}
ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

.nasta{
  width: auto;
  height: auto;
  margin-top: 10%;
  margin-left: 5%;
  margin-right: 5%;

}

.textinfo{
  width: auto;
  height: auto;
  margin-top: 10%;
  margin-left: 20%;
  margin-right: 20%;
    padding-top: 2%;
   padding-left: 2%;
   padding-right: 2%;
   padding-bottom: 5%;

}
.textinfo1:hover{
  color: #E80C94;
}


.btn-primary{
  width: 100px;
  height: 50px;
  margin-left: 40%;
  margin-top: 3%;
  border-radius: 10px;

}

.knapp{
  width: 100px;
  height: 50px;
  margin-left: 10%;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 3%;
  border-radius: 10px;
}
.info{
  width: auto;
  height: auto;
  box-shadow: 0 1px 50px grey;
  border-radius: 20px;
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
    padding-top: 2%;
   padding-left: 2%;
   padding-right: 2%;
   padding-bottom: 5%;
}
.info1{
  text-align: center;
 }


.besok{
  box-shadow: 0 1px 50px grey;
  border-radius: 20px;
  width: auto;
  height: auto;
  
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
   display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
 
 
}
.karta{
  flex:1;
  height: 100%;
  padding-left: 5px;
  padding-left: 5px;
  
}
.kontakt{

  flex: 1;
padding-left: 10px;
padding-right: 10px;
}
.besokrubrik{
  text-align: center;
}
.besoktext{
  text-align: center;
  padding-bottom: 20px;
  padding-top: 15px;
}
.mentorer{

  margin-top: 25%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
}
.mentorer1{
box-shadow: 0 1px 50px grey;
width: auto;
height: auto;
margin-left: 5%;
margin-right: 5%;

}
.mentorer2{
  box-shadow: 0 1px 50px grey;
  width: auto;
  height: auto;
  margin-left: 5%;
  margin-right: 5%;

}
.kodasjalvtext{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.larasig{
  box-shadow: 0 1px 50px grey;
  border-radius: 20px;
  width: auto;
  height: auto;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 15%;
  margin-bottom: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
}
.rubriklarasig{
  text-align: center;
}

.danger{
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-top: 15px; 
  font-size: 20px; 
}

.utvärdering1:hover{
  color: #E80C94;
}
.utbildning{
  margin-left: 30%;
  margin-right: 10%;
  margin-top: 20%;
  width: auto;
}
.foot{
  background-color: green;
  width: 100%;
  height: 100px;
  margin-bottom: 0%;
  margin-top: 5%;
   display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
}
.foot1{
  width: 25%;
  height: 100%;
  
}

.foot2{
  width: 25%;
  height: 100%;
 
}
.foot3{
  width: 25%;
  height: 100%;
  
}
.foot4{
  width: 25%;
  height: 100%;
 
}
.statistik{
  width: auto;
  height: auto;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20%;
   display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
}
.socialamedier{
height: 80px;
padding-left: 20px;
padding-top: 10px;
}